h1{
    text-align: center;
    background-color: chocolate;
    color: blue;
}
h2{
    background-color: chartreuse;
    text-transform: uppercase;
    color: rgb(240, 11, 11);
    text-align: end;
    margin-top: 105px;
}
h3{
    background-color: darkred;
    color: cyan;
    border: solid black 5px;
    width: 500px;
    height: 50px;text-align: center;
    margin: auto;
}